.cart-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333; 
}

.total-amount {
  text-align: left;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Imagen del producto */
.product-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Información del producto */
.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Vaciar carrito */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: gray;
}

.empty-cart-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.empty-cart-image-mobile {
  width: 150px;
  height: auto;
  margin-top: 20%;
}


/* Enlace de inicio */
.home-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.home-link:hover {
  color: red;
}

/* Botones de acción */
.icon-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-buttons .MuiIconButton-root {
  padding: 8px;
}

/* Estilos para Desktop */
@media (min-width: 769px) {
  .product-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .product-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
  }

  .cart-title {
    font-size: 2rem;
  }

  .total-amount {
    font-size: 1.2rem;
  }
}

/* Estilos para Mobile */
@media (max-width: 768px) {
  .product-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-title {
    font-size: 1.5rem;
  }

  .total-amount {
    font-size: 1rem;
  }

  .product-info {
    flex-direction: column;
    gap: 10px;
  }

  .empty-cart-image {
    width: 80%;
    max-width: 250px;
  }

  .icon-buttons {
    justify-content: space-between;
    width: 100%;
  }
}
