@font-face {
  font-family: "Qaranta";
  src: url("./components/Font/Qaranta Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2 {
  font-family: "Qaranta", sans-serif;
}
.about-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.qaranta-title {
  font-family: "Qaranta", sans-serif;
  font-size: 1.8rem;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.main-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.image-container {
  margin-right: 40px;
}

.about-image {
  width: 400px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #333333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.main-content {
  flex: 1;
}

.content-row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.text-section h1,
.text-section h2,
h1,
h2 {
  font-family: "Qaranta", sans-serif;
  font-size: 1.8rem;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

.location,
.contact-link {
  font-family: "Eurostile", sans-serif;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.slogan {
  text-align: center;

  color: "#CA393Ebff";
  font-weight: bold;
  margin-top: 40px;
}

.custom-title {
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-size: 2em;
  color: #333;
}

.section {
  margin: 20px;
}

.location {
  display: flex;
  align-items: center;
}

.location svg {
  margin-right: 8px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #333;
}

.contact-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #e94f5b;
}
.services-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
}
.service {
  width: calc(33.33% - 60px);
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.service img {
  width: 100%;
  height: auto;
}
.service h2 {
  font-size: 26px;
  color: #333;
  margin: 10px 20px;
}
.service p {
  font-size: 17px;
  color: #333;
  margin: 0px 20px;
}
.service a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #f00;
  padding: 10px 20px;
  margin: 20px 20px;
  border-radius: 30px;
}
.service a:hover {
  background-color: #000;
}

/* Consultas de medios para diseño responsivo */
@media screen and (max-width: 760px) {
  .main-section {
    flex-direction: column;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about-image {
    width: 100%;
    max-width: 400px;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 90%;
    margin-bottom: 20px;
  }

  .slogan {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .custom-title {
    font-size: 1.5em;
  }

  .qaranta-title {
    font-size: 1.5rem;
  }

  .main-content {
    padding: 10px;
  }

  .content-row {
    flex-direction: column;
    gap: 20px;
  }

  .text-section {
    align-items: flex-start;
  }

  .description {
    font-size: 0.9rem;
  }

  .section {
    margin-bottom: 15px;
  }

  .location {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-link {
    font-size: 0.9rem;
    color:#f00
  }

  .slogan {
    font-size: 1.2em;
  }

  .custom-title {
    font-size: 1.5em;
  }

  .contact-link {
    font-size: 0.9rem;
  }

  .contact-link:hover {
    color: gray;
  }

  .location-string{
    color: #f00;
  }
}
@media screen and (max-width: 450px) {
  .service {
    width: 90%;
    margin: 25px auto;
  }
  .abaut {
    width: 85%;
    margin: 25px auto;
  }
}


