/* Estilo global */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}



.navbar-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,225,0,1) 59%, rgba(223,2,9,1) 75%) ;
}


/* Contenedor principal ajustable */
main {
  width: 100%;
  overflow-x: hidden;
}

.sidebar {
  max-width: 20%;
  overflow-x: hidden;
}

.content {
  max-width: 80%;
  overflow-x: hidden;
}

/* Grilla de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Productos */
.product-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-box img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-box h3 {
  margin: 10px 0;
  color: #000;
}

.product-box p {
  color: #333;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
    padding: 10px;
    display: none; /* Ocultar barra lateral por defecto */
  }

  .content {
    padding: 10px;
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Reducir tamaño mínimo */
    gap: 16px;
    padding: 10px;
  }

  .product-box img {
    max-height: 150px; /* Ajustar imágenes */
  }
}

/* Vista móvil (max-width: 480px) */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr; /* Mostrar un producto por fila */
  }

  .product-box {
    padding: 12px;
  }

  .product-box img {
    max-height: 120px;
  }

  .product-box h3 {
    font-size: 16px;
  }

  .product-box p {
    font-size: 14px;
  }
}



